*.o
*alu_tb
*shifter_tb
*a.out
*core_tb
*.vcd
*.txt
*.text
bin
*desktop.ini
*riscof_work*
.vscode
*.gtkw
*.tar.gz
*.tar.gz.*
Shell_script/bcm2835-1.70/
*.out
*.out.txt
riscof/__pycache__
*.cf
*.lst
riverOS/target
riverOS/Cargo.lock
vivado*
*.ghw
*.out.txt.s