---
BasedOnStyle: Chromium
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackArguments: 'false'
BinPackParameters: 'false'
SortIncludes: 'true'
IndentWidth: 4
ColumnLimit: '100' 

...
